.logo-img {
  max-height: 45px;
}

.logo-img-lg{
    max-height: 60px;
}

@media (max-width: 575px) {
  .logo-img {
    max-height: 40px;
  }
}

.product-actions li a{
    color: #feb0ad;
}

.product-actions li a:hover{
    color: white;
}

.nk-menu-link: hover .nk-menu-icon {
    color: #a41316 !important;
}

.is-light .nk-menu-link:hover, .is-light .active > .nk-menu-link {
    color: #e01b22;
}



.dark-mode .nk-menu-link:hover,
.dark-mode .link-dark:hover,
.dark-mode .nk-menu-main .nk-menu-sub .nk-menu-link:hover,
.dark-mode .link-list a:hover {
    color: white;
}


.nk-menu-link:hover, .active > .nk-menu-link {
    color: #e01b22;
    background: #fff;
}